code/azure-search-openai-demo/.vscode/
code/azure-search-openai-demo/.github/
code/azure-search-openai-demo/scripts/venv/
code/azure-search-openai-demo/.vscode/
code/azure-search-openai-demo/.github/
code/azure-search-openai-demo/.azure/
code/azure-search-openai-demo/app/frontend/node_modules/
code/azure-search-openai-demo/app/backend/venv/
code/azure-search-openai-demo/scripts/venv/
code/azure-search-openai-demo/extra_steps/ms_internal_az_init.ps1
code/azure-search-openai-demo/extra_steps/ms_internal_troubleshootingt.ps1
code/azure-search-openai-demo/venv/

code/ms-semantic-kernel-cosmos/obj/
code/ms-semantic-kernel-cosmos/bin/
code/azure-vector-db-python/.env

.env
.idea
**/__pycache__/
*.pyc
.venv
venv
.gitignore
temp.md
README.html
README.pdf
.vscode/settings.json
azure-openai-llm-vector-langchain.sln
awesome-azure-openai-llm.sln
todo.md
