/venv/
/docker/.local/
/files_add/
/.idea/
/ssh_key/
/docker-milvus/milvus_data/
/chat-openai-work-together/els-stack-bitnami/
/azure-search-openai-demo/.vscode/
/azure-search-openai-demo/.github/

/azure-search-openai-demo/scripts/venv/
/azure-search-openai-demo/.vscode/
/azure-search-openai-demo/.github/
/azure-search-openai-demo/.azure/
/azure-search-openai-demo/app/frontend/node_modules/
/azure-search-openai-demo/app/backend/venv/
/azure-search-openai-demo/scripts/venv/
/azure-search-openai-demo/extra_steps/ms_internal_az_init.ps1
/azure-search-openai-demo/extra_steps/ms_internal_troubleshootingt.ps1

.env
/azure-search-openai-demo/venv/
**/__pycache__/
*.pyc

/ms-semantic-kernel-cosmos/obj/
/ms-semantic-kernel-cosmos/bin/

README_Challenges.md
/notes/
/formatting/
